__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.ruff_cache/
.python-version
README.md
API.md
APPDETAIL.md
DOMAIN.MD
FRONTEND_GUIDE.md
TECHNICALSPEC.md
images/
tmp/
API.md
APPDETAIL.md
DOMAIN.MD
FRONTEND_GUIDE.md
TECHNICALSPEC.md
/backups
/images